@font-face {
    font-family: 'Mazzard';
    src: url('./fonts/MazzardM-Regular.eot');
    src: url('./fonts/MazzardM-Regular.woff') format('woff'), url('./fonts/MazzardM-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Mazzard';
    src: url('./fonts/MazzardM-Medium.eot');
    src: url('./fonts/MazzardM-Medium.woff') format('woff'), url('./fonts/MazzardM-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Mazzard';
    src: url('./fonts/MazzardM-SemiBold.eot');
    src: url('./fonts/MazzardM-SemiBold.woff') format('woff'), url('./fonts/MazzardM-SemiBold.woff2') format('woff2');
    font-weight: 600;
}
