@import './fonts.css';
@import './variables.css';
@import './components/header.css';
@import'./components/hero.css';
@import './components/about.css';
@import'./components/future.css';
@import './components/consumers.css';

body {
    font-family: 'Mazzard';
    font-weight: var(--font-weight2);
    color: var(--white-color);
    background-color: var(--black-color);
    margin: 0;
    list-style: none;
}
.main-container {
    width: 390px; 
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.container {
    position: relative;
    box-sizing: border-box;
    padding: 0 28px;
}

/* Desktop */
@media screen and (min-width: 1440px) {
    .main-container {
        width: 1440px;
    }
    .container {
        padding: 0 135px;
    }
}